<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Accueil - Ecommerce{% endblock %}
		</title>
		{% block stylesheets %}
			<script src="https://cdn.tailwindcss.com"></script>
		{% endblock %}

		{{ encore_entry_link_tags('app') }}
	</head>
	<body>
		{% include "header.html.twig" %}

		{% for type, messages in app.flashes %}
			{% for msg in messages %}
				<div class="toast px-4 py-2 fixed top-6 left-1/2 transform -translate-x-1/2 bg-slate-100 rounded-lg border
					border-slate-200 flex items-center gap-3"
				>
					{% if type == "success" %}
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
							 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
							 stroke-linejoin="round" class="text-emerald-500"
						>
							<path d="M20 6 9 17l-5-5"/>
						</svg>
					{% else %}
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
							 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
							 stroke-linejoin="round" class="text-rose-500"
						>
							<circle cx="12" cy="12" r="10"/>
							<line x1="12" x2="12" y1="8" y2="12"/>
							<line x1="12" x2="12.01" y1="16" y2="16"/>
						</svg>
					{% endif %}
					{{ msg }}
				</div>
			{% endfor %}
		{% endfor %}


		<div class="min-h-screen bg-slate-50 h-full">
			{% block body %}{% endblock %}
		</div>

		<script src="{{ asset('js/app.js') }}"></script>
		{% block javascripts %}{% endblock %}
	</body>
</html>
